#Contenedor{
    width: 779px;
    margin: auto;
}

#Cabecera{
    width: 779px;
    height: 80px;
    background-color: rgb(85, 59, 6);
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

#Banner{
    height: 150px;
    background-image: url(https://viajes.nationalgeographic.com.es/medio/2018/03/01/machu-picchu_5ff969ae_1280x720.jpg);
    background-size: cover; 
    background-position: center; 
    position: relative;
    text-align: right;
    bottom: 0;
}

#Contenido{
    height: 355px;
    background-color: red;
    margin: 0px;
    font-size: x-large;
}

#Piepagina{
    height: 70px;
    background-color: rgba(175, 62, 25, 0.758);
    margin: 0px;
    text-align: center;
    justify-content: center;
}